*{
  margin: 20px;
  padding: 10px;
}
#h{
  color: white;
  background-color: blueviolet;
  border-radius: 20px;
}
.p{
  color: brown;
  text-align: justify;
 
}
#ul-items{
  display: flex;
  list-style: none;
}
#u {
  background-color: blue;
  height: .0;
}